@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color:rgb(45, 37, 160);
    padding: 150px 150px 50px 150px;
}
header h1{
    font-size: 55px;
    margin-bottom: 37px;
}
.textandbutton{
    display: block;
    color: white;
    width: 400px;
    margin: 50px auto;
}
.textandbutton a{
    background-color:#E02C6D;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
}
#ball{
    height: 70px;
    width: 70px;
    position: relative;
    bottom: 390px;
    left: 5px;
    transition: transform 5s linear;
}
#ball:hover{
    transform: rotate(360deg);
}
.textandbutton a:hover{
    background-color: #a74066;
}
.banner{
    display: grid;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 556.01px;
    height: 438px;
}
.first_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-row-gap: 30px;
    padding: 70px 180px;
    grid-column-gap: 30px;
}
article{
    width: 330px;
    height: 480px;
    border: 15px solid white;
    box-shadow: 0px 0px 20px 1px rgb(216, 212, 212);
    border-radius: 20px;

}
article img{
    width: 100%;
    border-radius: 15px;
    
}

.extra{
    width: 70%;
    display: block;
    margin: auto auto 70px auto;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
}
.extra iframe{
    width: 853px; height: 480px;
    border-radius: 10px;
}
footer{
    display: block;
}
footer>div{
    display: grid;
    justify-content: center;
}
.logo img{
    width: 490px;
}
.social_icon{
    display: flex;
}
.social_icon img{
    width: 32px;
    margin: 0px 8px;
}
.last{
    color: gray;
}
.last span{
    margin-right: 50px;
}